<body>
	<section class="cuerpo">
        <div class="title">
            <h3>Salas</h3>
          </div>
    <% if (locals.currentUser && locals.currentUser.user_type==0) { %>
    <div class="ref-to-new">
        <p>Cantidad de Salas: <%=room.length%></p>
    </div>
    <a class="addthing" href="<%= newRoomPath %>">Agregar Sala</a>
        <div class="ref-to-new">
        <p>Cantidad de Salas: <%=room.length%></p>
    </div>
    <% } %>
    <div class="items">
        <% room.forEach(sala => { %>
            <div class="elemento">
                <h2><%= sala.type %></h2>
                <p>Capacidad para <%= sala.capacity %> personas</p>
            </div>
        <% })%>
		</div>
	</section>
</body>
