<body>
	<section class="cuerpo">
    <div class="title">
      <h3>Salas</h3>
    </div>
    <% if (locals.currentUser && locals.currentUser.user_type==0) { %>
    <div class="ref-to-new">
      <p>Cantidad de Salas: <%=room.length%></p>
    </div>
    <a class="addthing" href="<%= newRoomPath %>">Agregar Sala</a>
    <div class="ref-to-new"></div>
    <% } %>
    <div class="items">
			<% room.forEach(sala => { %>
				<div class="elemento">
					<h2><%= sala.type %></h2>
					<a href = "<%= roomPath(sala.id) %>">
						<img class="medium" src="<%= cloudinary.url(sala.image) %>" />
					</a>
					<p>Capacidad para <%= sala.capacity %> personas</p>
					<% if (locals.currentUser && locals.currentUser.user_type==0) { %>
						<a class="editlink" href="<%= editRoomPath(sala.id) %>">Editar</a>
						<a class="editlink" href="<%= deleteRoomPath(sala.id) %>">Eliminar</a>
						<% } %>
				</div>
			<% })%>
		</div>
	</section>
</body>
