<body>
	<section class="cuerpo">
    <form method ="post" action="<%= createMembershipPath %>">
        <% if (locals.errors){ %>
            <div class="errors">
            <p>El nuevo miembro no se pudo crear debido a los siguientes errores:</p>
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.path %>: <%= error.message %></li>
                <% }); %>
            </ul>
        </div>
    <% } %>
    <h1>Nueva mebresía</h1>
    <div class="wrapper">
        <div class="this-form">
            <div class="field">
                <label for="user_id">Id de usuario</label>
                <input type="text" id="user_id" name="user_id" value="<%= membership.user_id%>">
                <span class="error"></span>
            </div>
            <div class="field">
                <label for="type">Tipo</label>
                <input type="text" id="type" name="type" value="<%= membership.type %>" />
                <span class="error"></span>
            </div>
            <div class="field">
                <label for="start">Inicio</label>
                <input type="text"  id="start" name="start"  value="<%= membership.start  %>" />
                <span class="error"></span>
            </div>
            <div class="field">
                <label for="end">Termino</label>
                <input type="text" id= "end" name="end" value="<%= membership.end  %>" />
                <span class="error"></span>
            </div>
            <div class="actions">
                <input class="formlink" type="submit" value="Crear">
            </div>
        </div>
    </div>
		</form>
	</section>
</body>