<main class="home">
  <h1>Clases Destacadas</h1>
  <ul>
    <% events.forEach((event) => { %>
      <li>
        <h3><%= event.name %></h3>
        <p><a href="<%= roomPath(event.room.id)%>"><%= event.room.type %></a></p>
        <p> <%= event.days %>  de <%= event.startsAt %> a <%= event.endsAt %> hrs</p>
      </li>
    <% }); %>
  </ul>
</main>