<h1>All appointments</h1>

<a href="<%= newApptPath %>">Agregar nueva consulta</a>

<p> Cantidad de Consultas Disponibles: <%= appointments.length %> </p>
<% appointments.forEach(appt => { %>
    <div>
      <h3>Especialista: <%=appt.id%>
      <a href="<%=specialistPath(appt.specialistId)%>"><%= appt.specialist.name %> <%= appt.specialist.lastname %></a>
      <h4><%=appt.date%></h4>
      <p><%= appt.description%></p>
      <form action="<%= deleteApptPath(appt.id) %>" method="POST">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="Delete" />
      </form>
        
    </div>

<% }) %>