<body>
	<section class="cuerpo">
    <form method ="post" action="<%= createProfilePath %>">
        <% if (locals.errors){ %>
            <div class="errors">
            <p>La ficha no se pudo crear debido a los siguientes errores:</p>
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.path %>: <%= error.message %></li>
                <% }); %>
            </ul>
        </div>
    <% } %>
    <h1>Nuevo perfil</h1>
    <div class="wrapper">
        <div class="this-form">
            <div class="field">
                <label for="user_id">Id</label>
                <input type="text" id="user_id" name="user_id" value="<%= health_profile.user_id%>">
            </div>
            <div class="field">
                <label for="birth">Fecha de nacimiento</label>
                <input type="text" id="birth" name="birth" value="<%= health_profile.birth%>">
            </div>
            <div class="field">
                <label for="gender">Genero</label>
                <select name="gender" id="gender">
                <option value=0> Mujer</option>
                <option value=1> Hombre</option>
                </select>
            </div>
            <div class="field">
                <label for="height">Altura</label>
                <input type="text" id="height" name="height" value="<%= health_profile.height%>">
            </div>
            <div class="field">
                <label for="weight">Peso</label>
                <input type="text" id="weight" name="weight" value="<%= health_profile.weight%>">
            </div>
            <div class="field">
                <label for="fat_percentage">Porcentaje de grasa</label>
                <input type="text" id="fat_percentage" name="fat_percentage" value="<%= health_profile.fat_percentage%>">
            </div>
            <div class="field">
                <label for="emergency_number">Numero de emergencia</label>
                <input type="text" id="emergency_number" name="emergency_number" value="<%= health_profile.emergency_number%>">
            </div>
            <div class="actions">
                <input type="submit" value="Crear">
            </div>
        </div>
    </div>
		</form>
	</section>
</body>
