<body>
	<section class="cuerpo">
    <link rel="stylesheet"  href="machines.scss" >
    <div class="ref-to-new">
        <a href= "<%= newProfilePath %>" > Agregar nuevo perfil</a>
        <p>Cantidad de perfiles:  <%= health_profiles.length %></p>
    </div>
    <div class="general-info">
        <% health_profiles.forEach(healthprofile =>{ %>
            <div class="health-info">
                <h3>Fecha: <%= healthprofile.createdAt.toDateString()%></h3>
                <p>Fecha de nacimiento: <%= healthprofile.birth%></p>
                <p>Género: <%= healthprofile.gender%></p>
                <p>Altura: <%= healthprofile.height%></p>
                <p>Peso: <%= healthprofile.weight%></p>
                <p>Porcentaje de grasa:<%= healthprofile.fat_percentage%></p>
                <p>Comentario: <%= healthprofile.description%></p>
            </div>
        <% }) %>
		</div>
	</section>
</body>

