<body>
	<section class="cuerpo">
    <link rel="stylesheet"  href="machines.scss" >
    <div class="ref-to-new">
        <a href= "<%= newProfilePath %>" > Agregar nuevo perfil</a>
        <p>Cantidad de perfiles:  <%= health_profiles.length %></p>
    </div>
    <div class="items">
        <% health_profiles.forEach(healthprofile =>{ %>
            <div class="elemento">
                <h2>Fecha de nacimiento: <%= healthprofile.birth%></h2>
                <p>Género: <%= healthprofile.gender%></p>
                <p>Altura: <%= healthprofile.height%></p>
                <p>Peso: <%= healthprofile.weight%></p>
                <p>Porcentaje de grasa:<%= healthprofile.fat_percentage%></p>
                <a href = "<%= profilePath(healthprofile.id) %>">Ver más</a>
            </div>
        <% }) %>
		</div>
	</section>
</body>

