<h4>Fecha de nacimiento: <%= health_profile.birth%></h4>
<p>Nivel: <%= health_profile.level%></p>
<p>Género: <%= health_profile.gender%></p>
<p>Altura:<%= health_profile.height%></p>
<p>Peso: <%= health_profile.weight%></p>
<p>Porcentaje de grasa:<%= health_profile.fat_percentage%></p>
<p>Número de emergencia: <%= health_profile.emergency_number%></p>