<body>
	<section class="cuerpo">
    <form method="post" action="<%= submitPath %>" enctype="multipart/form-data">
        <% if (locals.errors){ %>
            <div class="errors">
            <p>La maquina no se pudo crear debido a los siguientes errores:</p>
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.path %>: <%= error.message %></li>
                <% }); %>
            </ul>
        </div>
    <% } %>

    <% if (!machine.isNewRecord){ %>
        <input type="hidden" name="_method" value="patch" />
    <%}%>
    
    <div class="wrapper">
        <div class="this-form">
            <div class="field">
                <label for="name">Nombre</label>
                <input type="text" id="name" name="name" value="<%= machine.name%>"/>
                <span class="error"></span>
            </div>
            <div class="field">
                <label for="description">Descripción</label>
                <textarea name="description" id="description" rows="4", cols="30"><%= machine.description%></textarea>
                <span class="error"></span>
            </div>}
            <div class="field">
                <label for="tipo">Tipo</label>
                <input type="text" id="tipo" name="tipo" value="<%= machine.tipo%>"/>
                <span class="error"></span>
            </div>
            <div class="field">
                <label for="logo">Imagen</label>
                <input type="file" id="logo" name="logo" ></input>
            </div>
            <div class="actions">
                <input class="formlink" type="submit" value="<%= machine.isNewRecord ? 'Crear' : 'Modificar' %>" />
            </div>
        </div>
    </div>
		</form>
	</section>
</body>
