<body>
	<section class="cuerpo">
        <div class="title">
			<h1> Máquinas </h1>
        </div>
    <% if (locals.currentUser && locals.currentUser.user_type==0) { %>
    <div class="ref-to-new">
        <a  class="addthing" href= "<%= newMachinePath %>" > Agregar nueva máquina</a>
        <p>Cantidad de maquinas:  <%= machines.length %></p>
    </div>
    <% } %>
    <div class="items">
        <% machines.forEach(machine =>{ %>
            <div class="elemento">
                                <div class="column">
								<h2><%= machine.name%></h2>
                                    <a href = "<%= machinePath(machine.id) %>">
                                        <img class="medium" src="<%= cloudinary.url(machine.image) %>" />	
                                    </a>
                                    <p><%= machine.description%></p>
                                    <p>Tipo: <%= machine.tipo%></p>
                                </div>
                
                <% if (locals.currentUser && locals.currentUser.user_type==0) { %>
                <a class="editlink" href="<%= editMachinePath(machine.id) %>">Editar</a>
                
                <div>
                    <form action="<%= deleteMachinePath(machine.id) %>" method="POST">
                        <input type="hidden" name="_method" value="delete" />
                        <input class="editlink" type="submit" value="Eliminar" />
                    </form>
                </div>
                <% } %>
                <% if (locals.currentUser && locals.currentUser.user_type==1) { %>
                <button class="editlink" type="button">Reservar</button>
                
                <% } %>
            </div>

        <% }) %>
		</div>
	</section>
</body>

