<body>
	<section class="cuerpo">
    <div class="ref-to-new">
        <a href= "<%= newMachinePath %>" > Agregar nueva máquina</a>
        <p>Cantidad de maquinas:  <%= machines.length %></p>
    </div>
    <div class="items">
        <% machines.forEach(machine =>{ %>
            <div class="elemento">
                <h2><%= machine.name%></h2>
                <img class="medium" src="<%= cloudinary.url(machine.image) %>" />
                <p><%= machine.description%></p>
                <a href = "<%= machinePath(machine.id) %>">Ver más</a>
                
                <a href="<%= editMachinePath(machine.id) %>">Editar</a>
                <button type="button">Reservar</button>
                
            </div>

        <% }) %>
		</div>
	</section>
</body>

