<body>
    <link rel="stylesheet"  href="machines.scss" >
    <div class="ref-to-new">
        <a href= "<%= newMachinePath %>" > Agregar nueva máquina</a>
        <p>Cantidad de maquinas:  <%= machines.length %></p>
    </div>
    <div class="items">
        <% machines.forEach(machine =>{ %>
            <div class="elemento">
                <h2><%= machine.name%></h2>
                <p><%= machine.description%></p>
                <a href = "<%= machinePath(machine.id) %>">Ver más</a>
                <button type="button">Reservar</button>
            </div>

        <% }) %>
    </div>
</body>
</html>
