<body>
  <section class="cuerpo">
    <div class="elemento">
      <h4><%= machine.name%></h4>
      <img class="big" src="<%= cloudinary.url(machine.image) %>" />
      <h5>Descripción</h5>
      <p><%= machine.description%></p>
    </div>
    <% if (locals.currentUser && locals.currentUser.user_type==0) { %>
      <a class="editlink" href="<%= editMachinePath(machine.id) %>">Editar</a>
      
      <div>
          <form action="<%= deleteMachinePath(machine.id) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input class="editlink" type="submit" value="Eliminar" />
          </form>
      </div>
      <% } %>
    
    
  </section>
</body>