<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formulario de máquinas</title>
    <link rel="stylesheet"  href="_form.scss" >
</head>
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#">Mi perfil</a>
    <a href="#">Máquinas</a>
    <a href="#">Clases</a>
    <a href="#">Reservas</a>
    <a href="#">Horas</a>
  </div>
<body>
    <h1>Nueva clase</h1>
    <div class="wrapper">
        <div class="this-form">
        <form method="post" action="<%= createEventPath %>">
            <% if (locals.errors) { %>
                <div class="errors">
                    <p>La clase no se pudo crear por los siguientes errores:</p>
                    <ul>
                        <% errors.forEach(error => { %>
                            <li> <%= error.path %>: <%= error.message %></li>
                        <% }); %> 
                    </ul>
                </div> 
            <% } %>
            <div class="field">
                <label for="name">Nombre</label>
                <input type="text" name="name" value="<%= event.name %>" />
            </div>
            <div class="field">
                <label for="description">Descripción</label>
                <textarea type="text" name="description" value="<%= event.description %>" ></textarea>
            </div>
            <div class="field">
                <label for="days">Días</label>
                <input type="text" name="days" value="<%= event.days %>" />
            </div>
            <div class="field">
                <label for="startsAt">Horario</label>
                <input type="text" name="startsAt" value="<%= event.startsAt %>" />
            </div>
            <div class="actions">
                <input type="submit" value="Crear" />
            </div>
        </form>
        </div>
    </div>
</body>
</html>