<body>
  <section class="cuerpo">
  <main> 
      <div class = "inicio">
        <p>PREPARA TU MEJOR VERSIÓN CON GOGYM</p>
        <% if (locals.currentUser) { %>
        <% } else { %>
              <a href ="<%= newUserPath %>">Crear cuenta</a>
              <a href ="<%= newSessionPath %>">Ingresar</a>
        <% } %>
      </div>
    
    <section class="articles-grid">
      <article class="secondary-article">
        <section>
          <h3>Clases</h3>
          <a href ="<%= eventsPath %>">
            <img class="medium" src="https://res.cloudinary.com/divxz0cz4/image/upload/v1605478090/dashboard/dashboard_clases_dto9s8-c_scale_h_350_w_350_soac6m.jpg"/>
          </a>
        </section>
      </article>
      <article class="secondary-article">
        <section>
          <h3>Máquinas</h3>
          <a href ="<%= machinesPath %>">
            <img class="medium" src="https://res.cloudinary.com/divxz0cz4/image/upload/v1605477210/dashboard/maquinas_ypjaab.jpg" />	
          </a>
        </section>
      </article>
      <article class="secondary-article">
        <section>
          <h3>Salas</h3>
          <a href ="<%= roomsPath %>">
            <img class="medium" src="https://res.cloudinary.com/divxz0cz4/image/upload/v1605478314/dashboard/dashboard_salas_dgy9sl-c_scale_h_350_w_350_ntbgw9.jpg" />	
          </a>
        </section>
      </article>
      <article class="secondary-article">
        <section>
          <h3>Nutricionistas</h3>
          <a href ="<%= usersNutriPath %>">
            <img class="medium" src="https://res.cloudinary.com/divxz0cz4/image/upload/v1605479610/dashboard/dashboard_cel_pij1tk-c_limit_h_350_w_350_yyldzd.jpg" />
          </a>
        </section>
      </article>
      <article class="secondary-article">
        <section>
          <h3>Entrenadores</h3>
          <a href ="<%= usersTrainersPath %>">
            <img class="medium" src="https://res.cloudinary.com/divxz0cz4/image/upload/c_scale,h_279,w_350/v1605479748/dashboard/dashboard_dashboard_team_ytnlwe-c_scale_h_350_w_350_yiptcy-c_scale_h_350_w_350_xhvkiq.jpg"/>
          </a>
        </section>
      </article>
      <article class="secondary-article">
        <section>
          <h3>Membresías</h3>
          <a href ="./memberships/sale">
            <img class="medium" src="https://res.cloudinary.com/divxz0cz4/image/upload/c_scale,h_276,w_350/v1605479393/dashboard/dashboard_Mesa-de-trabajo-3-1_kcgbkn-c_limit_h_350_w_350_bv2ivn.jpg"/>
          </a>
        </section>
      </article>
    </section>
  </main>
</section>
</body>
</html>