<body>
  <main> 
      <div class = "inicio">
        <p>PREPARA TU MEJOR VERSIÓN CON GOGYM</p>
        <% if (locals.currentUser) { %>
        <% } else { %>
          <a href ="<%= newUserPath %>">Crear cuenta</a>
          <a href ="<%= newSessionPath %>">Ingresar</a>
        <% } %>
      </div>
    
    <section class="articles-grid">
      <article class="secondary-article">
        <section>
          <h3>Clases</h3>
          <ul>
            <% events.forEach((event) => { %>
              <li>
                <h3><%= event.name %></h3>
                  <p><a href="<%= roomPath(event.room.id)%>"><%= event.room.type %></a></p>
                  <p> <%= event.days %>  de <%= event.startsAt %> a <%= event.endsAt %> hrs</p>
              </li>
            <% }); %>
          </ul>
          <a href ="<%= eventsPath %>">Ver Más</a>
        </section>
      </article>
      <article class="secondary-article">
        <section>
          <h3>Máquinas</h3>
          <a href ="<%= machinesPath %>">Ver Más</a>
        </section>
      </article>
      <article class="secondary-article">
        <section>
          <h3>Profesores</h3>
          <a href ="#">Ver Más</a>
        </section>
      </article>
      <article class="secondary-article">
        <section>
          <h3>Salas</h3>
          <a href ="<%= roomsPath %>">Ver Más</a>
        </section>
      </article>
      <article class="secondary-article">
        <section>
          <h3>Entrenadores</h3>
          <a href ="#">Ver Más</a>
        </section>
      </article>
      <article class="secondary-article">
        <section>
          <h3>Usuarios</h3>
          <a href ="<%= usersPath %>">Ver Más</a>
        </section>
      </article>
    </section>

  </main>
</body>
</html>