<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIC2513 - GOGYM</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo-container">
          <a class="logo" href="/">GO<span>GYM</span></a>
        </div>
          
        <div class="nav-btn">
          <div class="nav-links">
            <ul>
              <li class="nav-link">
                <a class="current" href="<%= eventsPath %>">Clases</a>
              </li>
              <li class="nav-link">
                <a class="current" href="<%= machinesPath %>">Máquinas</a>
              </li>
              <li class="nav-link">
                <a class="current" href="<%= roomsPath %>">Salas</a>
              </li>
            </ul>
          </div>

          <div class="log-sign">
            <% if (locals.currentUser) { %>
              <p><%= currentUser.email %></p>
              <form action="<%= destroySessionPath %>" method="post">
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Cerrar Sesión" class="btn solid"/>
              </form>
            <% } else { %>
              <a class="btn solid" href="<%= newSessionPath %>"> Iniciar sesión </a>
            <% } %>
          </div>
        </div>
      </div>
    </header>
    <%- body %>
    <footer class="foter">
      <p> GOGYM </p>
    </footer>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>