<h1>Hola <%= user.name%></h1>

<h3>Nombre: <%= user.name%> <%= user.lastname%></h3>
<p>email: <%= user.email %></p>

<div class="conversations">
  <% if (conversations.length){ %>
    <h2>Mis conversaciones</h2>
    <% conversations.forEach((conversation) => { %>
      <ul>
      <% if (conversation.userId1 != user.id){ %>
        <h4>Chat con <%= conversation.user1.name %> <%= conversation.user1.lastname %>
      <% } else { %> 
        <h4>Chat con <%= conversation.user2.name %> <%= conversation.user2.lastname %> 
      <% } %> 
        <a href="<%= conversationPath(conversation.id) %>">Ir</a> </h4>
      </ul>
    <% }); %>
    
  <% } %> 
  <a href="<%= newConversationPath%>">Crear nueva conversación</a>
</div>