<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Index de clases</title>
    <link rel="stylesheet"  href="view.scss" >
</head>
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#">Mi perfil</a>
    <a href="#">Máquinas</a>
    <a href="#">Clases</a>
    <a href="#">Reservas</a>
    <a href="#">Horas</a>
</div>
<body>
    <h1>CLASES</h1>
    <div class="ref-to-new">
        <p>Cantidad de Clases: <%=events.length%></p>
        <a href="<%= newEventPath %>">Agregar Clase</a>
        <h2>Lista de Clases</h2>
    </div>
    <div class="items"></div>
        <% events.forEach(event => { %>
            <div class="elemento">
                <h2><%= event.name %></h2>
                <p><%= event.description %></p>
                <p><%= event.days %></p>
                <p><%= event.startsAt %></p>
                <a href="<%=eventPath(event.id)%>">Ver</a>
            </div>
        <% })%>
    </div>
</body>
</html>
