<body>
    <section class="cuerpo">
        <div class="title">
            <h3>Clases Grupales</h3>
        </div>
    <div class="ref-to-new">
        <p>Cantidad de Clases: <%=events.length%></p>
        <a href="<%= newEventPath %>">Agregar Clase</a>
        <h2>Lista de Clases</h2>
    </div>
    <div class="items"></div>
        <% events.forEach(event => { %>
            <div class="elemento">
                <h2><%= event.name %></h2>
                <img class="medium" src="<%= cloudinary.url(event.image) %>" />
                <p><%= event.description %></p>

                <p><%= event.days %></p>
                <p><%= event.startsAt %></p>
                
                <a href = "<%= eventPath(event.id) %>">Ver más</a>
                <a href="<%= editEventPath(event.id) %>">Editar</a>
            </div>
        <% })%>
    </div>
    </section>
</body>
</html>
