<body>
    <section class="cuerpo">
    <h1>CLASES</h1>
    <div class="ref-to-new">
        <p>Cantidad de Clases: <%=events.length%></p>
        <a href="<%= newEventPath %>">Agregar Clase</a>
        <h2>Lista de Clases</h2>
    </div>
    <div class="items"></div>
        <% events.forEach(event => { %>
            <div class="elemento">
                <h2><%= event.name %></h2>
                <p><%= event.description %></p>
                <p><%= event.days %></p>
                <p><%= event.startsAt %></p>
                //<a href="<%=eventPath(event.id)%>">Ver</a>
                <a href = "<%= eventPath(event.id) %>">Ver más</a>
                <a href="<%= editEventPath(event.id) %>">Editar</a>
            </div>
        <% })%>
    </div>
    </section>
</body>
</html>
