<body>
<section class="cuerpo">
  <div class="title">
    <h3>Clases Grupales</h3>
  </div>

  <% if (locals.currentUser && locals.currentUser.user_type==0) { %>
    <div class="ref-to-new">
      <a class="addthing" href="<%= newEventPath %>">Agregar Clase</a>
      <p>Cantidad de Clases: <%=events.length%></p>
    </div>
  <% } %>

  <div class="items">
    <% events.forEach(event => { %>
      <div class="elemento">
          <h2><%= event.name %></h2>
          
          <a href = "<%= eventPath(event.id) %>">
            <img class="medium" src="<%= cloudinary.url(event.image) %>" />
          </a>

          <div class="cont">
            <p><%= event.description %></p>
            <p><%= event.days %></p>
            <p><%= event.startsAt %></p>
          </div>
      
          <% if (locals.currentUser && locals.currentUser.user_type==0) { %>
            <div class="botones">
              <div class="but">
                <a class="editlink" href="<%= editEventPath(event.id) %>">Editar</a>
              </div>
                
              <div class="but">
                <form action="<%= deleteEventPath(event.id) %>" method="POST">
                  <input type="hidden" name="_method" value="delete" />
                  <input class="editlink" type="submit" value="Eliminar" />
                </form>
              </div>
            </div>
          <% } %> 

      </div>
      
    <% })%>
  </div>
</section>
</body>
