<body>
<section class="cuerpo"> 
  <div class="title">
    <h3>Citas con Especialistas</h3>
  </div>
  
<% if (locals.currentUser && locals.currentUser.user_type != 1) {%> 
<div class="inicio">
    <a class="addthing" href="<%= newApptPath %>">Agregar nueva consulta</a>
</div>


<% } %> 
<div class="inicio">
  <h1> Cantidad de Consultas Disponibles: <%= appointments.length %> </h1>
</div>
<% appointments.forEach(appt => { %>
    <div>
      <a href="<%=specialistPath(appt.specialistId)%>"><%= appt.specialist.name %> <%= appt.specialist.lastname %></a>
      <h4><%=appt.date%></h4>
      <p><%= appt.description%></p>
      <a class="addthing" href="<%=apptPath(appt.id)%>">Ver</a>
      <% if (locals.currentUser && locals.currentUser.user_type!=1) {%>
        <form action="<%= deleteApptPath(appt.id) %>" method="POST">
          <input type="hidden" name="_method" value="delete" />
          <input class="editlink" type="submit" value="Delete" />
        </form>
      <%} %>
        
    </div>

<% }) %>
</section>
</body>