<form method="post" action="<%= createRoomPath %>">
    <% if (locals.errors) { %>
        <div class="errors">
            <p>La sala no se pudo crear por los siguientes errores:</p>
            <ul>
                <% errors.forEach(error => { %>
                    <li> <%= error.path %>: <%= error.message %></li>
                <% }); %> 
            </ul>
        </div> 
    <% } %>
    <div class="field">
        <label for="type">Nombre</label>
        <input type="text" name="type" value="<%= sala.name %>" />
    </div>
    <div class="field">
        <label for="capacity">Capacidad</label>
        <input type="text" name="capacity" value="<%= sala.capacity %>" />
    </div>
    <div class="actions">
        <input type="submit" value="Crear" />
    </div>
</form>