<body>
  <section class="cuerpo">
    <form method="post" action="<%= submitUserPath%>">
      <% if (locals.errors) {%>
        <div class="errors">
          <p>El usuario no se puede crear debido a los siguientes errores: </p>
          <ul>
            <% errors.forEach(error => {%>
              <li><%= error.path %>: <%= error.message %></li>
            <% });%>
          </ul>
        </div>
      <%} %>

      <% if (!user.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
      <% } %>
      <div class="wrapper">
          <div class="this-form">
              <div class="field">
                <label for="name">Nombre</label>
                <input type="text" id="name" name="name" value="<%= user.name %>" />
                <span class="error"></span>
              </div>
              <div class="field">
                <label for="lastname">Apellido</label>
                <input type="text" id="lastname" name="lastname" value="<%= user.lastname %>" />
                <span class="error"></span>
              </div>
              <div class="field">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" value="<%= user.email %>" />
                <span class="error"></span>
              </div>

              <div class="field">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" />
                <span class="error"></span>
              </div>
              <div class="field">
                <label for="rut">Rut</label>
                <input type="text" id="rut" name="rut" value="<%= user.rut %>" />
                <span class="error"></span>
              </div>

              <% if (locals.currentUser && locals.currentUser.user_type==0) { %>
                <div>
                  <label for="user_type">Tipo de Cuenta</label>
                  <select name="user_type" id="user_type">
                    <option value=0> Administrador</option>
                    <option value=1> Cliente</option>
                    <option value=2> Entrenador</option>
                    <option value=3> Nutricionista</option>
                  </select>
                </div>
              <% } else { %>
                <input type="hidden" id="user_type" name="user_type" value="1" />
              <% } %>

              
              <div class="actions">
                <% if (user.isNewRecord) { %>
                  <input class="formlink" type="submit" name="create" value="Crear" />
                <% } else { %>
                  <input class="formlink" type="submit" name="update" value="Actualizar" />
                <% } %>
            </div>

            </form>
          </div>
        </div>
    </section>
  </body>