<body>
	<section class="cuerpo">
    <div class="title">
			<h1> Usuarios </h1>
		</div>
    <% if (locals.currentUser && locals.currentUser.user_type==0) { %>
    <div class="ref-to-new">
        <a href="<%= newUserPath %>">Agregar nuevo usuario</a>
        <p> Cantidad de Usuarios: <%= users.length %> </p>
    </div>
    <% } %>
    <div class="items">
        <% users.forEach(user => { %>
            <div class="elemento">
                <h2> <%= user.name %> <%= user.lastname %></h2>
                <img class="little" src="<%= cloudinary.url(user.image) %>" />
                <a href="<%= userPath(user.id) %>">Ver más</a>
                <a href="<%= editUserPath(user.id) %>">Editar</a>
                <form action="<%= deleteUserPath(user.id) %>" method="POST">
                    <input type="hidden" name="_method" value="delete" />
                    <input type="submit" value="Delete" />
                </form>
            </div>

        <% }); %>
		</div>
	</section>
</body>

