<body>
	<section class="cuerpo">
    <div class="inicio">
			<p> Personal </>
	</div>
    <% if (locals.currentUser && locals.currentUser.user_type==0) { %>
    <div class="inicio">
        <a class="addthing" href="<%= newUserPath %>">Agregar nuevo miembro</a>
    </div>
    <div class="items">
        <% users.forEach(user => { %>
            <% if (user.ser_type==2 ||user.user_type==3){ %>
            <div class="profilepic">
                <h2 class="title"> <%= user.name %> <%= user.lastname %></h2>
                <div class="first-row">
                    <img class="little" src="<%= cloudinary.url(user.image) %>" />
                <div class="first-text-container">
                <a class="addthing" href="<%= userPath(user.id) %>">Ver más</a>
                <a class="addthing" href="<%= editUserPath(user.id) %>">Editar</a>
                <form action="<%= deleteUserPath(user.id) %>" method="POST">
                    <input type="hidden" name="_method" value="delete" />
                    <input class="editlink" type="submit" value="Delete" />
                </form>
                </div>
            </div>
            <% } %>
            </div>

        <% }); %>

    <% } %>
		</div>
	</section>
</body>

