<body>
  <section class="cuerpo">
    <h1>Hola <%= user.name%></h1>
    <h3>Nombre: <%= user.name%> <%= user.lastname%></h3>
    <p>email: <%= user.email %></p>

    <div class="conversations">
      <% if (conversations.length){ %>
        <h2>Mis conversaciones</h2>
        <% conversations.forEach((conversation) => { %>
          <ul>
          <% if (conversation.userId1 != user.id){ %>
            <h4>Chat con <%= conversation.user1.name %> <%= conversation.user1.lastname %>
          <% } else { %> 
            <h4>Chat con <%= conversation.user2.name %> <%= conversation.user2.lastname %> 
          <% } %> 
            <a href="<%= conversationPath(conversation.id) %>">Ir</a> 
            
          </h4>
          </ul>
        <% }); %>
        
      <% } %> 
      <a href="<%= newConversationPath%>">Crear nueva conversación</a>
    </div>


  <div class="article">
    <div class="articles-grid">
      <h2>Mis Clases</h2>
      <h2><%= events.length %> clases reservadas</h2>
      <% if (events.length) { %>
          <ul>
              <% events.forEach((event) => { %>
                  <h4> <%= event.name %></h4>
                  <p> <%= event.description %></p>
                  <p> Días: <%= event.days %></p>
                  <p> De <%= event.startsAt %> a <%= event.endsAt %> hrs</p>
              <% }); %>
          </ul>
      <% } %>
    </div>
    <div class="articles-grid">
      <h2>Membresía</h2>
    </div>
    <div class="articles-grid">
      <h2>Máquinas</h2>
    </div>
    <div class="articles-grid">
      <h2>Ficha</h2>
    </div>
  </div>
  </section>
</body>