<body>
  <% if (locals.currentUser && locals.currentUser.user_type==1 || locals.currentUser && locals.currentUser.user_type==2 || locals.currentUser && locals.currentUser.user_type==3 ||locals.currentUser && locals.currentUser.user_type==0  ) { %>
  <section class="cuerpo">
  <div class="title">
    <h3> Hola <%= user.name%></h3>
  </div>
  <div class="first-row">
    <img id="profilepic" src="<%= cloudinary.url(user.image) %>" />
    <div class="first-text-container">
        <div>Nombre: <%= user.name%> <%= user.lastname%></div>
        <div>Email: <%= user.email %></div>
        <div>Rut:  <%= user.rut %> </div>
    </div>
  </div>
  <ul class="photos">
    <li class="photo">
      <h3>Mis Máquinas</h3>
      <a href ="<%= machineReservationsPath %>">
        <img class="medium" src="https://res.cloudinary.com/divxz0cz4/image/upload/c_scale,h_279,w_350/v1606742087/dashboard/calugacovid_k25djg.jpg" />	
      </a>
    </li>
    <li class="photo">
      <h3>Ficha</h3>
      <a href ="<%= profilesPath %>">
        <img class="medium" src="https://res.cloudinary.com/divxz0cz4/image/upload/c_scale,h_279,w_350/v1606743703/ficha_pspynf.jpg" />
      </a>
    </li>
    <li class="photo">
      <h3> Citas </h3>
      <a href ="<%= appointmentsPath %>">
        <img class="medium" src="https://res.cloudinary.com/divxz0cz4/image/upload/c_scale,h_276,w_350/v1605479393/dashboard/dashboard_Mesa-de-trabajo-3-1_kcgbkn-c_limit_h_350_w_350_bv2ivn.jpg"/>
      </a>
    </li>
    <li class="photo">
      <h3>Mis clases</h3>
      <h3><%= events.length %> clases reservadas</h3>
        <% if (events.length) { %>
          <ul>
              <% events.forEach((event) => { %>
                  <h4> <%= event.name %></h4>
                  <p> <%= event.description %></p>
                  <p> Días: <%= event.days %></p>
                  <p> De <%= event.startsAt %> a <%= event.endsAt %> hrs</p>
              <% }); %>
          </ul>
      <% } %>
    </li>    
    <li class="photo">
      <h3>Mis Conversaciones</h3>
        <% if (conversations.length){ %>
          <% conversations.forEach((conversation) => { %>
            <ul>
            <% if (conversation.userId1 != user.id){ %>
              <h4>Chat con <%= conversation.user1.name %> <%= conversation.user1.lastname %>
            <% } else { %> 
              <h4>Chat con <%= conversation.user2.name %> <%= conversation.user2.lastname %> 
            <% } %> 
              <a class="editlink" href="<%= conversationPath(conversation.id) %>">Ir</a>  
            </h4>
            </ul>
          <% }); %>
        <% } %>    
    </li>  
    <li class="photo">
      <h3>Chatear</h3>
      <a href ="<%= newConversationPath%>">
        <img class="medium" src="https://res.cloudinary.com/divxz0cz4/image/upload/v1605479610/dashboard/dashboard_cel_pij1tk-c_limit_h_350_w_350_yyldzd.jpg" />	
      </a>
    </li>           
  </ul> 
  <% } %>
</section>
</body>